<ion-content padding class="animated fadeIn auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>
    <br/>


    <!-- Description -->
    <div text-center margin-top>
      <span text-align="center"><strong>Sup</strong>file is a platform that sells online storage. It gives its users access to an online cloud to store their data.</span>
    </div>
    <div text-center margin-top>
      <span>Each user has 30GB of storage.</span>
    </div>
    <div text-center margin-top>
      <span>Some files, such as images, videos, audios, ... can be viewed directly online.</span>
    </div>
    <br><br>

    <!-- Button -->
    <button ion-button icon-start block color="dark" tappable (click)="login()">
      <ion-icon name="log-in"></ion-icon>
      SIGN IN
    </button>
    <br>
    <button ion-button icon-start block color="dark" tappable (click)="register()">
      <ion-icon name="log-in"></ion-icon>
      SIGN UP
    </button>

  </div>
</ion-content>
