<ion-content padding class="animated fadeIn auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
    </div>

    <!-- Register form -->
    <form [formGroup]="register_form" class="list-form">
      <ion-item #firstname>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Firstname
        </ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>

      <ion-item #lastname>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Lastname
        </ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>

      <ion-item #username>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Username
        </ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item #email>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item #password>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item #password_confirmation>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password Confirmation
        </ion-label>
        <ion-input type="password" formControlName="password_confirmation"></ion-input>
      </ion-item>
    </form>

    <!-- Button -->
    <div margin-top>
      <button ion-button block color="dark" tappable (click)="register()">
        SIGN UP
      </button>

      <p text-center ion-text color="secondary">Or Sign Up with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>

  </div>
</ion-content>
