<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="auth-page">
    <div class="login-content">

      <!-- Logo -->
      <div padding text-center>
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          Edit profile
        </h2>
      </div>

      <!-- Edit profile form -->
      <form [formGroup]="edit_profile_form" class="list-form">
        <ion-item #firstname>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Firstname *
          </ion-label>
          <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>

        <ion-item #lastname>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Lastname *
          </ion-label>
          <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>

        <ion-item #email>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email *
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item #password>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item #password_confirmation>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password Confirmation
          </ion-label>
          <ion-input type="password" formControlName="password_confirmation"></ion-input>
        </ion-item>
      </form>

      <div margin-top>
        <button ion-button block color="dark" tappable (click)="saveEditProfile()">
          SAVE
        </button>
      </div>

    </div>
  </ion-content>
