<ion-header class="no-shadow">

    <ion-navbar class="no-border">
        <ion-title>
            <ion-icon name="folder" class="text-primary"></ion-icon>
            <span class="text-primary">Create directory</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="common-bg">
    <!-- Create Dir form -->
    <form [formGroup]="create_dir_form" class="list-form">
        <ion-item #directory_name>
            <ion-label floating>
                <ion-icon name="folder" item-start class="text-primary"></ion-icon>
                directory_name
            </ion-label>
            <ion-input type="text" formControlName="directory_name"></ion-input>
        </ion-item>

        <ion-item #is_public>
            <ion-label>Is public</ion-label>
            <ion-checkbox formControlName="is_public">Is public</ion-checkbox>
        </ion-item>
        <button ion-button icon-start block color="dark" tappable (click)="createSubmit()">
            <ion-icon name="log-in"></ion-icon>
            Create directory
        </button>
    </form>
</ion-content>
