<ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>Rename</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">
  <form [formGroup]="rename_form" class="list-form">
    <ion-item #new_name>
      <ion-label floating>
        <ion-icon name="file" item-start class="text-primary"></ion-icon>
        New name
      </ion-label>
      <ion-input type="text" formControlName="new_name"></ion-input>
    </ion-item>

    <button ion-button icon-start block color="dark" tappable (click)="renameFile()">
      <ion-icon name="log-in"></ion-icon>
      Rename
    </button>
  </form>
</ion-content>
