<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-nav">
      <strong>Sup</strong>file
    </ion-title>

    <ion-card no-margin margin-bottom class="full-width search-nav">
      <ion-item tappable (click)="searchNav()" class="border-bottom">
        <ion-icon name="search" color="primary" item-left></ion-icon>
        <span>Find file/directory</span>
      </ion-item>
    </ion-card>

    <ion-buttons class="buttons-creations" end>
    <button ion-button tappable  onclick="document.getElementById('file_upload').click();">
        <ion-icon name="add" class="md-primary" item-start></ion-icon>
    </button>
      <button ion-button tappable (click)="openCreateDir($event)">
            <ion-icon name="folder-open" class="md-primary" item-start></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
    <ion-item >
        <ion-label *ngFor="let element of path_to_show" (click)="openFolder(element.name, element.level, element.path)" class="label-path">
            <b>{{element.name}}</b><ion-icon class="icon-path" name="arrow-forward"></ion-icon>
        </ion-label>
    </ion-item>
  <form [formGroup]="upload_form"  class="list-form" style="display:none;">
      <ion-item>
      <input type="file" #file id="file_upload" name="file_upload" (change)="upload($event)">
      </ion-item>
  </form>
  <ion-row *ngFor="let document of documents">
      <!--Si le document est un fichier -->
    <ion-col *ngIf="document.is_folder == 0">
      <ion-item  *ngIf="document.is_public == 1" style="color:#75C1CC" [attr.data-sectionvalue]="document.name" title="{{ document.name }}" >
          <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1 || videos_ext.indexOf(document.extension.toLowerCase()) !== -1 || audio_ext.indexOf(document.extension.toLowerCase()) !== -1">
              <ion-icon *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1" name="image"></ion-icon>
              <ion-icon *ngIf="videos_ext.indexOf(document.extension.toLowerCase()) !== -1" name="videocam"></ion-icon>
              <ion-icon *ngIf="audio_ext.indexOf(document.extension.toLowerCase()) !== -1" name="musical-notes"></ion-icon>
          </ion-label>
          <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) === -1 && videos_ext.indexOf(document.extension.toLowerCase()) === -1 && audio_ext.indexOf(document.extension.toLowerCase()) === -1">
              <ion-icon name="document"></ion-icon>
          </ion-label>
          <ion-label class="file-element" (click)="preview($event)">{{ document.name }}</ion-label><ion-label class="dots-label dots" (click)="presentNotifications(document.name, document.is_public)"></ion-label>
      </ion-item>
        <ion-item  *ngIf="document.is_public == 0" [attr.data-sectionvalue]="document.name" title="{{ document.name }}" >
          <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1 || videos_ext.indexOf(document.extension.toLowerCase()) !== -1 || audio_ext.indexOf(document.extension.toLowerCase()) !== -1">
              <ion-icon *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1" name="image"></ion-icon>
              <ion-icon *ngIf="videos_ext.indexOf(document.extension.toLowerCase()) !== -1" name="videocam"></ion-icon>
              <ion-icon *ngIf="audio_ext.indexOf(document.extension.toLowerCase()) !== -1" name="musical-notes"></ion-icon>

          </ion-label>
          <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) === -1 && videos_ext.indexOf(document.extension.toLowerCase()) === -1 && audio_ext.indexOf(document.extension.toLowerCase()) === -1">
              <ion-icon name="document"></ion-icon>
          </ion-label>
          <ion-label class="file-element" (click)="preview($event)">{{ document.name }}</ion-label><ion-label class="dots-label dots" (click)="presentNotifications(document.name, document.is_public)"></ion-label>
      </ion-item>
    </ion-col>
      <!--Si le document est un dossier-->
    <ion-col *ngIf="document.is_folder == 1">
        <ion-item  *ngIf="document.is_public == 1" style="color:#75C1CC" [attr.data-sectionvalue]="document.name" title="{{ document.name }}">
            <ion-label class="icon-home">
                <ion-icon name="folder"></ion-icon>
            </ion-label>
            <ion-label class="file-element" (click)="openFolder(document.name,  document.level+1)"><b>{{ document.name }}</b></ion-label><ion-label class="dots-label dots" (click)="presentNotifications(document.name, document.is_public)"></ion-label>
        </ion-item>
        <ion-item  *ngIf="document.is_public == 0" [attr.data-sectionvalue]="document.name" title="{{ document.name }}">
            <ion-label class="icon-home">
                <ion-icon name="folder"></ion-icon>
            </ion-label>
            <ion-label class="file-element" (click)="openFolder(document.name,  document.level+1)"><b>{{ document.name }}</b></ion-label><ion-label class="dots-label dots" (click)="presentNotifications(document.name, document.is_public)" ></ion-label>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
