page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
  .title-nav {
    width: 100px;
    float: left;
    margin-top: 18px;
  }
  .search-nav {
    margin-top: 7px;
    width: 15% !important;
    float: left;
    min-width:220px;
  }
  .file-element {
    //max-width: 290px;
    cursor:pointer;
  }
  .dots-label {
    width:20px;
    margin:0px;
    overflow: initial !important;
  }
  .icon-home {
    width: 25px;
    -webkit-flex: 0;
    flex: initial;
  }
  .label-path {
    width: auto;
    -webkit-flex: 0;
    flex: initial;
    cursor: pointer;
  }
  .icon-path {
    margin-left:7px;
    position: relative;
    top: 2px;
  }
  //.buttons-creations {
  //  position: relative;
  //  top: 15px;
  //  left: 30px;
  //}
}

