<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card-content>
              <canvas id="doughnutCanvas" #doughnutCanvas width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-col>
          <ion-col padding-top col-6>
            <h2 ion-text class="no-margin bold text-white" id="name" ></h2>
            <span ion-text color="light" id="username" ></span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" (click)="editProfile()">
              <ion-icon name="contact"></ion-icon>
              Edit Profile
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <ion-list class="user-list">
        <button  ion-item menuClose id="MenuPage" class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
          <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
          <span ion-text color="primary">{{menuItem.title}}</span>
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
