<ion-list class="no-margin">
  <ion-list-header class="no-margin">
  	<ion-icon name="document" color="primary"></ion-icon>
  	<span ion-text color="primary" class="bold">File</span>
  </ion-list-header>

  <button ion-item class="text-1x" tappable (click)="renameFile(name)">
  	<ion-icon name="arrow-forward"></ion-icon>
      <span ion-text color="secondary">Rename</span>
  </button>

  <button ion-item class="text-1x" tappable (click)="moveFile(name)">
  	<ion-icon name="reorder"></ion-icon>
      <span ion-text color="secondary">Move</span>

  </button><!--(click)="close()"-->
    <!--<a href="#" onclick="window.open('http://www.google.fr', '_system', 'location=yes');return false;">-->
      <button ion-item class="text-1x" tappable  (click)="openWindowDownload()">
        <ion-icon name="download" color="secondary"></ion-icon>
        <span ion-text color="secondary">Download</span>
      </button>
    <!--</a>-->

    <!--<a href="http://{{domain_api}}download/{{myEvent.target.name}}/?token={{token}}&id_user={{id_user}}&path={{path}}">-->
      <!--<button ion-item class="text-1x" tappable (click)="close()">-->
        <!--<ion-icon name="download" color="secondary"></ion-icon>-->
        <!--<span ion-text color="secondary">Download</span>-->
      <!--</button>-->
    <!--</a>-->

  <form [formGroup]="is_public_form" class="list-form">
    <ion-item #is_public>
      <ion-label>Is public</ion-label>
      <ion-checkbox [(ngModel)]="IsCheck" formControlName="is_public" (click)="isPublicCheck($event)">Is public</ion-checkbox>
    </ion-item>

      <ion-item #downloadLink>
        <button id="cpyBtn" ion-button data-clipboard-target="#downloadLink">Copy</button>
        <input  type="text" [(ngModel)]="downloadLink2" id="downloadLink" formControlName="downloadLink">
      </ion-item>
  </form>
  <button ion-item color="danger" class="text-1x" tappable (click)="removeFile()">
  	<ion-icon name="trash"></ion-icon>
  	<span ion-text >Remove</span>
  </button>
</ion-list>
