<ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>
      <ion-icon name="search" class="text-primary"></ion-icon>
      <span class="text-primary">Search</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">
  <!-- Create Dir form -->
  <form [formGroup]="search_form" class="list-form">
    <ion-item #name>
      <ion-label floating>
        <ion-icon name="search" item-start class="text-primary"></ion-icon>
        file/directory name
      </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>


    <button ion-button icon-start block color="dark" tappable (click)="searchNav()">
      <ion-icon name="log-in"></ion-icon>
      Search file/directory
    </button>
  </form>

  <ion-row *ngFor="let document of documents">
    <!--Si le document est un fichier-->
    <ion-col *ngIf="document.is_folder == 0">
      <ion-item  *ngIf="document.is_public == 1" style="color:#75C1CC" [attr.data-sectionvalue]="document.path + document.name" title="{{ document.path }}{{ document.name}}" >
        <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1 || videos_ext.indexOf(document.extension.toLowerCase()) !== -1 || audio_ext.indexOf(document.extension.toLowerCase()) !== -1">
          <ion-icon *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1" name="image"></ion-icon>
          <ion-icon *ngIf="videos_ext.indexOf(document.extension.toLowerCase()) !== -1" name="videocam"></ion-icon>
          <ion-icon *ngIf="audio_ext.indexOf(document.extension.toLowerCase()) !== -1" name="musical-notes"></ion-icon>
        </ion-label>
        <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) === -1 && videos_ext.indexOf(document.extension.toLowerCase()) === -1 && audio_ext.indexOf(document.extension.toLowerCase()) === -1">
          <ion-icon name="document"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="completeSearch(document)">{{ document.name }}</ion-label>
      </ion-item>
      <ion-item  *ngIf="document.is_public == 0" [attr.data-sectionvalue]="document.path + document.name" title="{{ document.path }}{{ document.name}}" >
        <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1 || videos_ext.indexOf(document.extension.toLowerCase()) !== -1 || audio_ext.indexOf(document.extension.toLowerCase()) !== -1">
          <ion-icon *ngIf="images_ext.indexOf(document.extension.toLowerCase()) !== -1" name="image"></ion-icon>
          <ion-icon *ngIf="videos_ext.indexOf(document.extension.toLowerCase()) !== -1" name="videocam"></ion-icon>
          <ion-icon *ngIf="audio_ext.indexOf(document.extension.toLowerCase()) !== -1" name="musical-notes"></ion-icon>

        </ion-label>
        <ion-label class="icon-home" *ngIf="images_ext.indexOf(document.extension.toLowerCase()) === -1 && videos_ext.indexOf(document.extension.toLowerCase()) === -1 && audio_ext.indexOf(document.extension.toLowerCase()) === -1">
          <ion-icon name="document"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="completeSearch(document)">{{ document.name }}</ion-label>
      </ion-item>
    </ion-col>
    <!--Si le document est un dossier-->
    <ion-col *ngIf="document.is_folder == 1">
      <ion-item  *ngIf="document.is_public == 1" style="color:#75C1CC" [attr.data-sectionvalue]="document.path + document.name" title="{{ document.path }}{{ document.name}}">
        <ion-label class="icon-home">
          <ion-icon name="folder"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="completeSearch(document)"><b>{{ document.name }}</b></ion-label>
      </ion-item>
      <ion-item  *ngIf="document.is_public == 0" [attr.data-sectionvalue]="document.path + document.name" title="{{ document.path }}{{ document.name}}">
        <ion-label class="icon-home">
          <ion-icon name="folder"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="completeSearch(document)"><b>{{ document.name }}</b></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
