<ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>Move</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">
  <ion-row *ngFor="let document of documents">

    <ion-col *ngIf="document.id == -1">
      <ion-item  [attr.data-sectionvalue]="document.path" title="{{ document.path }}{">
        <ion-label class="icon-home">
          <ion-icon name="folder"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="moveFile(document.path)"><b>{{ document.path }}</b></ion-label>
      </ion-item>
    </ion-col>

    <ion-col *ngIf="document.id !== -1">
      <ion-item  [attr.data-sectionvalue]="document.path + document.name" title="{{ document.path }}{{ document.name}}">
        <ion-label class="icon-home">
          <ion-icon name="folder"></ion-icon>
        </ion-label>
        <ion-label class="file-element" (click)="moveFile(document.path + document.name)"><b>{{ document.path }}{{ document.name}}</b></ion-label>
      </ion-item>
    </ion-col>

  </ion-row>
</ion-content>
