<ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>
      <ion-icon *ngIf="images_ext.indexOf(extension.toLowerCase()) !== -1" name="image" class="text-primary"></ion-icon>
      <ion-icon *ngIf="videos_ext.indexOf(extension.toLowerCase()) !== -1" name="videocam" class="text-primary"></ion-icon>
      <ion-icon *ngIf="audio_ext.indexOf(extension.toLowerCase()) !== -1" name="musical-notes" class="text-primary"></ion-icon>
      <ion-icon *ngIf="doc_ext.indexOf(extension.toLowerCase()) !== -1" name="document" class="text-primary"></ion-icon>
      <span class="text-primary">Preview</span>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="common-bg">
  <h1 style="margin-left: 15px;">{{file}}</h1>
  <ion-item>
    <img *ngIf="images_ext.indexOf(extension.toLowerCase()) !== -1" src="http://{{domain_api}}file/{{file}}/?token={{token}}&id_user={{id_user}}&path={{path}}" title="{{file}}" >
    <video *ngIf="videos_ext.indexOf(extension.toLowerCase()) !== -1" controls src="http://{{domain_api}}file/{{file}}/?token={{token}}&id_user={{id_user}}&path={{path}}" title="{{file}}"></video>
    <audio *ngIf="audio_ext.indexOf(extension.toLowerCase()) !== -1 && videos_ext.indexOf(extension.toLowerCase()) === -1"  controls src="http://{{domain_api}}file/{{file}}/?token={{token}}&id_user={{id_user}}&path={{path}}" class="audio_preview"></audio>
    <p *ngIf="doc_ext.indexOf(extension.toLowerCase()) !== -1" id="text"></p>
  </ion-item>
</ion-content>
